.collapsible {
  background-color: #303030;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-family: "NetflixSans_W_Rg.woff2", sans-serif;
  font-weight: 500;
  border: solid 7px black;
  border-bottom: solid 2px blacks;
}

.card3 h1 {
  font-weight: 700;
  font-size:50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  padding: 20px 10px;
  padding-bottom: 10px;
  display: none;
  overflow: hidden;
  background-color: #303030;
  color: white;
  letter-spacing: 0.1rem;
  border: solid 7px black;
  border-top:none;

}

.align-left {
  text-align: left;
}

#padding-top {
  padding-top:70px;
}
